@font-face {
    font-family: Space Grotesk;
    src: url(./fonts/SpaceGrotesk-VariableFont_wght.ttf);
}
* {
    font-family: Space Grotesk;
}
h1 {
    display: flex;
    flex-wrap: wrap;
    font-size: 100px;
    margin: 20px;
}

h2 {
    font-size: 75px;
    margin: 20px;
}

.buttons {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}

img {
    width: 100% ;
    height: auto;
}

.button {
    background-color: rgb(196, 196, 196);
    width: 300px;
    height: auto;
    border-radius: 40px;
    flex-shrink: 1;
}

.scoreboard, .score {
    display: flex;
    justify-content: space-evenly;
}

/* Black line between scores */
hr {
    height: 10vh;
    width: .25vw;
    border-width: 0;
    color: #000;
    background-color: #000;
}

.score-user, .score-computer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    margin: 0px;
    font-size: 40px;
}

.winner h2{
    font-size: 125px;
    font-family: space-grot
}

.user-score, .computer-score{
    display: flex;
    justify-content: center;
}